@using COBAShop.ViewModels.Comon
@model PagedResult<COBAShop.ViewModels.Catalog.Products.ProductVm>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/js/controller/productController.js"></script>
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")>Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success" href=@Url.Action("Create","Product")>Thêm mới</a>
                </div>
                <div class="col-md-6 text-right">
                    <form method="get" asp-action="Index" asp-controller="Product">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                                <input class="form-control text-right" type="text" placeholder="nội dung tiềm kiếm" id="txtSearch" name="keyword" value="@ViewBag.Keyword" />
                            </div>
                            <div class="col-md-3 text-left">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search" title="Tìm kiếm"></i></button>
                                <a class="btn btn-secondary" href=@Url.Action("Index","Product")><i class="fas fa-sync-alt" title="Làm mới"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>
                                Mã
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Giá nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>

                                <td>
                                    <a class="btn btn-link " style="padding:6px" href=@Url.Action("Edit","Product" ,new {id=item.Id })><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-link" style="padding: 6px" href=@Url.Action("Details","Product" ,new {id=item.Id })> <i class="fa fa-eye"></i></a>
                                    <a class="btn btn-link btnDelete" style="padding: 6px" data-id="@item.Id"> <i class="fa fa-trash"></i></a>
                                    <a class="btn btn-link" style="padding: 6px" href=@Url.Action("CategoryAssign","Product" ,new {id=item.Id })><i class="fas fa-align-justify"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>