@using COBAShop.ViewModels.Comon;
@model PagedResult<COBAShop.ViewModels.Catalog.Categories.CategoryVm>

@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript" src="~/js/controller/categoryController.js"></script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href=@Url.Action("Index","Home")>Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách danh mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success" href=@Url.Action("Create","Category")>Thêm mới</a>
                </div>
                <div class="col-md-6 text-right">
                    <form method="get" asp-action="Index" asp-controller="Category">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                                <input class="form-control text-right" type="text" placeholder="nội dung tiềm kiếm" id="txtSearch" name="keyword" value="@ViewBag.Keyword" />
                            </div>
                            <div class="col-md-3 text-left">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search" title="Tìm kiếm"></i></button>
                                <a class="btn btn-secondary" href=@Url.Action("Index","Category")><i class="fas fa-sync-alt" title="Làm mới"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>
                                Tên danh mục
                            </th>

                            <th>
                                Số thứ tự
                            </th>
                            <th>
                                Cho phép hiển thị
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SortOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsShowOnHome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusName)
                                </td>

                                <td width="170px">
                                    <a class="btn btn-link" href=@Url.Action("Edit","Category" ,new {id=item.Id })><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-link" href=@Url.Action("Details","Category" ,new {id=item.Id })> <i class="fa fa-eye"></i></a>
                                    <a class="btn btn-link btnDelete" data-id="@item.Id"> <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>